<h1>About Us</h1>
<br>
<h2>Da Vinci Schools Institute</h2>
<br>
<p>We are a team of educators building a prototype for a Career Connected Learning (CCL) Platform.<br> 
Our goal is to create a closed loop competency system that directly benefits our four key stakeholders.<br></p>
<ul>
    <li><b>Professionals</b> - Professionals will define the competencies that they are looking for in new hires. They will be able to browse
        the portfolios of students who have completed projects based on their defined competencies</li>
    <li><b>Teachers</b> - Teachers can build projects around the competencies defined by professionals and leveraging the PBL Works Gold Standard
        framework. The workflow gives teachers the tools they need for the seven essential project elements and the ability to browse and evolve
        projects developed by other teachers.</li>
    <li><b>Students</b> - Every project a student completes will have a product they can add to their portfolio that is publicly visible by professionals
        who leverage the CCL Platform. Students who show a high level of mastery on key competencies through their porfolio work will be contacted by
        professional companies for internships and job opportunites</li>
    <li><b>School Leaders</b> - Every school leader (counselors, administrators, and student support staff) will have multiple dashboards that gives them
        insight into how each project and in turn each class or grade level is improving student mastery for key competencies</li>
</ul>
<br>
<br>
<h2>Resources</h2>
<ul>
    <li><a href = 'https://www.cbenetwork.org/wp-content/uploads/2022/10/CompetencyXChange-Agenda-2022-1.pdf'>CompetencyXChange</a></li>
</ul>