<div id="<%= dom_id portfolio %>">
  <p>
    <strong>Industry:</strong>
    <%= portfolio.industry %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= portfolio.description %>
  </p>

  <p>
    <strong>Goal:</strong>
    <%= portfolio.goal %>
  </p>

</div>
