<% if current_user.try(:user_type) == "admin" %>
    <h1>Welcome Admin!</h1>
<% elsif current_user.try(:user_type) == "teacher" %>
    <h1>Welcome Teacher!</h1>
<% elsif current_user.try(:user_type) == "student" %>
    <h1>Welcome Student!</h1>
<% end %>

<h1><a href = "https://projectleo.substack.com/p/project-leo" target="_blank">Project Leo</a></h1>

<p>Welcome to the Beta Release of our project inspiration and ideation platform. Our goal is to make it easier for teachers to create authentic projects
 and celebrate students building products, ideas, and their mastery. This is one of the many initiatives from The Da Vinci Institute. The Project Leo platform 
 was built after observing the amazing educators that build the Da Vinci Schools network over the last 15 years and identifying two key insights about
 teaching and learning.</p>

<br>
<h4><a href = "https://projectleo.substack.com/p/the-two-tensions-in-teaching" target="_blank">The Two Dances of Teaching</a></h2><br>
<h4><a href = "https://projectleo.substack.com/p/building-builders" target="_blank">Building Builders</a></h2><br><br>

<p>Our goal is to help teachers build career authentic projects by connecting with professionals and to guide their students to spin their building flywheel
through an easy to use progress portfolio.</p>

<p>While you are exploring please send all feedback and issues to <b>Steven Eno - seno@davincischools.org</b></p><br><br>

<h2>The Da Vinci Institute for Professional Learning</h2>
<p><b>The purpose of the Da Vinci Institute for Professional Learning is to help educators prepare students to lead, innovate, and thrive in the modern world.</b><br> 
We do this by creating authentic professional learning experiences that strengthen connections between educators across the Da Vinci Schools and its partners, 
focusing specifically on the following four areas:</p>
<ol>
    <li><b>Organizational Connectedness</b> - facilitating access to the knowledge and experience of colleagues within the Da Vinci organization & network</li>
    <li><b>Professional Learning</b> - growing instructional and leadership capacity within the Da Vinci organization</li>
    <li><b>Connecting Education to Employment</b> - growing instructional and leadership capacity within the Da Vinci organization</li>
    <li><b>Network Development</b> - growing instructional and leadership capacity within the Da Vinci organization</li>
</ol>



