<h1>Project Leo</h1>

<h2>The Humility Dance of Teaching</h2>
<p>Teaching is an ever growing and endless list of activities. No matter what school you are at, there are always old traditions to carry on and new initiatives to implement. The best schools clearly communicate how to prioritize everything that goes into building meaningful experiences for students. The list can be overwhelming to both new and veteran teachers. Here is a sample list of daily activities from my second year of teaching:</p>
<ul>
    <li><p>Prep for classes (Earth Science, AP Physics, Introduction to Engineering Design, Principles of Engineering)</p></li>
    <li><p>Organize science classroom for Earth Science and AP Physics</p></li>
    <li><p>Organize engineering lab for engineering classes</p></li>
    <li><p>Successfully teach four preps in two different buildings with over 200 students while tracking the needs of every student</p></li>
    <li><p>Grade student work and adjust upcoming lesson plans as necessary to support as many students as possible</p></li>
    <li><p>Setup data gathering for BTSA</p></li>
    <li><p>Finish classwork to finalize my credential</p></li>
    <li><p>Manage FIRST Robotics team activities</p></li>
    <li><p>Map classes to new NGSS and Common Core Standards</p></li>
    <li><p>Work with science department to create new pathways based on NGSS</p></li>
    <li><p>Work with math department to implement new mastery-based grading and teaching through CMAST</p></li>
    <li><p>Transition to coaching football as special team’s coordinator, defensive backs, and wide receiver’s coach</p></li>
    <li><p>Leadership meeting to prepare for WASC visit</p></li>
</ul>
<p>This list doesn’t include the many small things that come up with students throughout the learning process. It is really amazing that teachers can handle so many threads at once and continue to give students great learning experiences. Getting pulled in so many directions isn’t healthy for anyone and reduces the quality of the work. An interesting feature of my second year of teaching was that it was during the transition to Common Core and NGSS, which meant our students didn’t take the state exams and there wasn’t much data to let us know how our students were doing. Very similar to the last couple of years of minimal data stemming from Covid.</p>
<p>It is so easy to get lost in all of the doing that happens in education. In all of my work during the first decade of teaching I thought it was helpful to solve problems by creating more work for teachers. Convincing colleagues to try new grading frameworks, new pedagogy, or even a new learning system that I concocted felt like the most helpful thing I could do. I have realized that adding anything onto a teacher’s plate has a low probability of implementation. We have to take something off the massive to-do list if we want to influence the student experience.</p>


<h2>Building Flywheel</h2>