<p style="color: green"><%= notice %></p>

<h1>Competencies</h1>

<div id="competencies">
  <% @competencies.each do |competency| %>
    <%= render competency %>
    <p>
      <%= link_to "Show this competency", competency %>
    </p>
  <% end %>
</div>

<%= link_to "New competency", new_competency_path %>
